/* Material Symbols Icons */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

[class^="col-"] {
    display: grid;
    column-gap: 0.2em;
}

.col-1a {
    grid-template-columns: 1fr auto;
}

.col-1a1 {
    grid-template-columns: 1fr auto 1fr;
}

.col-11 {
    grid-template-columns: 1fr 1fr;
}

.col-111 {
    grid-template-columns: 1fr 1fr 1fr;
}

.col-12 {
    grid-template-columns: 1fr 2fr;
}

.col-12a {
    grid-template-columns: 1fr 2fr auto;
}

.col-13 {
    grid-template-columns: 1fr 3fr;
}

.col-125 {
    grid-template-columns: 1fr 2fr 5fr;
}

.col-21 {
    grid-template-columns: 2fr 1fr;
}

[class^="row-"] > * {
    display: grid;
    row-gap: 0.2em;
}

.row-a1 {
    grid-template-rows: auto 1fr;
}