/*** LOADING ANIMATION ***/
#animLoading {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave {
    width: 5px;
    height: 30px;
    background: linear-gradient(45deg, cyan, purple);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
    transform: scale(0);
}
.wave:nth-child(2) {
    animation-delay: 0.1s;
    transform: scale(0.1);
}
.wave:nth-child(3) {
    animation-delay: 0.2s;
    transform: scale(0.2);
}
.wave:nth-child(4) {
    animation-delay: 0.3s;
    transform: scale(0.3);
}
.wave:nth-child(5) {
    animation-delay: 0.4s;
    transform: scale(0.4);
}
.wave:nth-child(6) {
    animation-delay: 0.5s;
    transform: scale(0.5);
}
.wave:nth-child(7) {
    animation-delay: 0.6s;
    transform: scale(0.6);
}
.wave:nth-child(8) {
    animation-delay: 0.7s;
    transform: scale(0.7);
}
.wave:nth-child(9) {
    animation-delay: 0.8s;
    transform: scale(0.8);
}
.wave:nth-child(10) {
    animation-delay: 0.9s;
    transform: scale(0.9);
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
